body{
background-image:url('bg.png');
background-size:cover;
background-attachment:fixed;
overflow:hidden;

}
ul{
float:right;
list-style-type:none;
}
li{
float:right;
padding:10px;
margin-right:7px;
margin-top:-7px;
color:#e7e7e7;
}
.logo{
margin-top:5px;
margin-left:15px;
}
h1{
color:#e7e7e7;
margin-left:15px;
line-height:20px;
}
font{
color:red;
}
p{
margin-left:15px;
color:#e7e7e7;
}
.teampic{
margin-left:15px;
border-radius:15px;
border-style:solid;
border-color:powderblue;
}
.cap{
margin-left:604px;
width:720px;
margin-top:-440px;
opacity:0.8;
}
li:hover{
background-color:red;
}
@media(max-width:420px){
h1{
font-size:28px;
}
span{
display:none;
}
ul{
font-size: small;
}
.home{
    float: left;
    margin: -7px;
}
.teampic{
width:358px;
}
body{
    background-image:url('bg.png');
    background-size:cover;
    background-attachment:fixed;
    overflow:hidden;
}
.cap{
    display: none;
}
.logo{
    width: 46px;
}

}
